<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="../../assets/css/boot.css" rel="stylesheet">
    <link href="../../assets/css/style.css" rel="stylesheet">
    <link href="../../assets/css/fonticon.css" rel="stylesheet">
    <link href="../../assets/css/login.css" rel="stylesheet">
    <link href="../../assets/css/lista.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <script type="text/javascript" src="assets/js/modal.js"></script>
    <link href="../../assets/css/modal.css" rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/novoform.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>TURISMO DF</title>
</head>
<body>
    <main>

        <header class="main_header">
            <div class="main_header_content">
            <a href="../../index.php" class="logo">
                <img src="../../assets/img/logo.png" width="80" height="80" alt="Logo" title="logo"></a>
        
                <nav class="main_header_content_menu">
                    <ul>
                        <li><a href="../../index.php">O QUE FAZER?</a></li>
                        <li><a href="../../index.php">MAPA</a></li>

                    </ul>
                </nav>
                <!--<p style="text-align: right;color:#fff;margin: 0 20px 15px 0;font-weight:500;width:100vw">Bem vindo: <?=$_SESSION['usuario']['nome'];?></p>-->
            </div>
        </header>
        
            <!--DOBRA CABEÇALHO-->

        <!--INICIO SESSÃO SESSÃO DE ARTIGOS-->
        <section class="main_blog">
            <header class="main_blog_header">
                <h1 class="icon-location" id="oquefazer">Pólitica de privacidade</h1>
                <p class="icon-info">
                Turismo DF Política de privacidade
    
    Esta Política de privacidade descreve como suas informações pessoais são coletadas, usadas e compartilhadas quando você visita ou faz uma compra no  (o "Site").
    
    INFORMAÇÕES PESSOAIS QUE COLETAMOS
    
    Quando você visita o Site, coletamos automaticamente determinadas informações sobre o seu dispositivo, incluindo informações sobre seu navegador da web, endereço IP, fuso horário e de alguns dos cookies instalados no seu dispositivo. Além disso, à medida que você navega no Site, coletamos informações sobre as páginas da web ou produtos individuais que você visualiza, quais sites ou termos de pesquisa que indicaram o Site a você e informações sobre como você interage com o Site. Referimo-nos a essa informação coletada automaticamente como "Informações do dispositivo".
    
    Coletamos Informações do dispositivo usando as seguintes tecnologias:
    
     
     - “Arquivos de log” rastreiam ações que ocorrem no Site e coletam dados, incluindo seu endereço IP, tipo de navegador, provedor de serviços de Internet, páginas de referência/saída e registros de data/hora.
        - “Beacons da web”, “tags” e “pixels” são arquivos eletrônicos usados para registrar informações sobre como você navega no Site.
        [[INSIRA DESCRIÇÕES DE OUTROS TIPOS DE TECNOLOGIAS DE RASTREAMENTO UTILIZADAS]]
    Além disso, quando você faz uma compra ou tenta fazer uma compra no Site, nós coletamos algumas informações suas, incluindo seu nome, endereço de faturamento, endereço de entrega, informações de pagamento (incluindo números de cartão de crédito [[INSERIR QUALQUER OUTRO TIPO DE PAGAMENTO ACEITO]]), endereço de e-mail e número de telefone.  Nós chamamos essas informações de “Informações do pedido”.
    
    [[INSERIR QUALQUER OUTRA INFORMAÇÃO COLETADA: DADOS OFFLINE, DADOS/LISTAS DE MARKETING COMPRADOS]]
    
    Quando falamos sobre “Informações pessoais” nesta Política de privacidade, estamos falando sobre Informações do dispositivo e Informações do pedido.
    
    COMO USAMOS SUAS INFORMAÇÕES PESSOAIS?
    
    Em geral, nós usamos as Informações do pedido que coletamos para processar quaisquer pedidos feitos por meio do Site (incluindo o processamento das suas informações de pagamento, a organização do frete e o fornecimento de faturas e/ou confirmações de pedidos).  Além disso, usamos essas Informações do pedido para:
    nos comunicarmos com você;
    rastrear nossos pedidos para identificar possíveis riscos ou fraudes; e
    quando de acordo com as preferências que você compartilhou conosco, para fornecer informações ou publicidade relacionadas aos nossos produtos ou serviços.
    [[INSERIR OUTROS USOS DE INFORMAÇÕES DO PEDIDO]]
    Nós usamos as Informações do dispositivo que coletamos para nos ajudar a rastrear possíveis riscos e fraudes (especificamente seu endereço IP) e, de forma mais geral, para melhorar e otimizar o nosso Site (por exemplo, gerando análises sobre como nossos clientes navegam e interagem com o Site, e para avaliar o sucesso das nossas campanhas de marketing e publicidade).
    [[INSERIR OUTROS USOS DE INFORMAÇÕES DO DISPOSITIVO, INCLUINDO: PUBLICIDADE/RETARGETING]]
    COMPARTILHAMENTO DE SUAS INFORMAÇÕES PESSOAIS
    
    Nós compartilhamos suas Informações pessoais com terceiros para nos ajudar a usá-las conforme descrito acima.  Por exemplo, nós usamos a Shopify para alimentar nossa loja virtual. Você pode ler mais sobre como a Shopify usa suas Informações pessoais aqui: https://www.shopify.com/legal/privacy.  Também usamos o Google Analytics para nos ajudar a entender como nossos clientes usam o Site. Você pode ler mais sobre como o Google usa suas Informações pessoais aqui: https://www.google.com/intl/pt-BR/policies/privacy/.  Você também pode desativar o Google Analytics aqui: https://tools.google.com/dlpage/gaoptout.
    
    Por fim, podemos também compartilhar suas Informações pessoais para cumprir com as leis e regulamentos cabíveis, para responder a uma intimação, mandado de busca ou outra solicitação legal de informações que recebermos, ou para proteger nossos direitos.
    [[INCLUIR SE USAR REMARKETING OU PUBLICIDADE SEGMENTADA]] 
    PUBLICIDADE COMPORTAMENTAL
    Conforme descrito acima, nós usamos suas Informações pessoais para fornecer anúncios ou comunicações de marketing segmentadas que acreditamos ser de seu interesse.  Para saber mais sobre como a publicidade segmentada funciona, visite a página educacional da Network Advertising Initiative (“NAI”) em http://www.networkadvertising.org/understanding-online-advertising/how-does-it-work.
    
    Você pode desativar a publicidade segmentada usando os links abaixo:
    [[
     INCLUIR LINKS DE DESCADASTRAMENTO DOS SERVIÇOS USADOS.
      LINKS FREQUENTES:
     FACEBOOK - https://www.facebook.com/settings/?tab=ads
        GOOGLE - https://www.google.com/settings/ads/anonymous
        BING - https://advertise.bingads.microsoft.com/en-us/resources/policies/personalized-ads
    ]]
    Além disso, é possível desativar alguns desses serviços acessando o portal de descadastramento da Digital Advertising Alliance em http://optout.aboutads.info/.
    
    NÃO RASTREAR
    Por favor, observe que nós não alteramos a coleta de dados e as práticas de uso do nosso Site quando vemos um sinal de Não rastrear no seu navegador.
    
    [[INCLUIR SE A LOJA ESTIVER LOCALIZADA NA EUROPA OU SE A LOJA TIVER CLIENTES NA EUROPA]]
    
    SEUS DIREITOS
    Se você é um residente europeu, tem o direito de acessar as informações pessoais que mantemos sobre você e de solicitar que suas informações pessoais sejam corrigidas, atualizadas ou excluídas. Se você quiser exercer esse direito, entre em contato conosco usando as informações de contato abaixo.
    Além disso, se você for um residente europeu, observe que estamos processando suas informações para cumprir os contratos que podemos ter com você (por exemplo, se você fizer um pedido pelo Site) ou para proteger nossos interesses comerciais legítimos listados acima.  Além disso, observe que suas informações serão transferidas para fora da Europa, inclusive para o Canadá e os Estados Unidos.
    
    
    RETENÇÃO DE DADOS
    Ao fazer um pedido no Site, nós manteremos suas Informações do pedido em nossos registros a menos e até que você nos peça para excluir essas informações.
    
    [[INCLUIR RESTRIÇÃO DE IDADE SE NECESSÁRIO]]
    MENORES DE IDADE
    O Site não é destinado para pessoas com menos de [[INSERIR IDADE]].
    
    MUDANÇAS
    Nós podemos atualizar esta Política de privacidade periodicamente para refletir, por exemplo, mudanças em nossas práticas ou por outros motivos operacionais, legais ou regulamentares.
    FALE CONOSCO
    Para saber mais sobre nossas práticas de privacidade, caso tenha dúvidas ou se quiser fazer uma reclamação, entre em contato conosco por e-mail em turismodf2@gmail.com ou pelo correio usando as informações abaixo:
    
     QR 206 conjunto 12 casa 33, Brasília, DF, 72316-012, Brasil
                </p>
            </header>
        </section>
    </main>
    <!--INCIO DOBRA RODAPE-->

<div class="imagem_logo">
    <a href="index.php" class="logo">
        <img src="assets/img/logo.png" width="250" height="250" alt="Logo" title="logo"></a>
</div>

<section class="main_footer">
    <header>
        <h1>Quer saber mais?</h1>
    </header>
    <article class="main_footer_our_pages">
        <header>
            <h2>Nossas Páginas</h2>
        </header>
        <ul>
            <li class="icon-home"><a href="#">Home</a></li>
            <li class="icon-facebook"><a href="https://www.facebook.com/profile.php?id=100093545959335" target="_blank">Facebook</a></li>
            <li class="icon-instagram"><a href="https://www.instagram.com/turismo__df/" target="_blank">Instagram</a></li>
            <li class="icon-twitter"><a href="https://twitter.com/turismo__DF" target="_blank">Twitter</a></li>
        </ul>
    </article>

    <article class="main_footer_links">
        <header>
            <h2>Links Úteis</h2>
        </header>
        <ul>
            <li><a href="layouts/site/politicadepriv.php">Política de Privacidade</a></li>
            <li><a href="#">Aviso Legal</a></li>
            <li><a href="#">Termos de Uso</a></li>
        </ul>
    </article>

    <article class="main_footer_about">
        <header>
            <h2>Sobre o Projeto</h2>
        </header>
        <p>Esse site foi criado com a intuição de ajudar todos os turistas e os nativos do DF a conhecer nossa linda
            capital e as demais cidades do Distrito Federal</p>
    </article>
</section>
<footer class="main_footer_rights">
    <p>ETC - Todos os direitos reservados.</p>
</footer>
</body>

<script>
    // Seleciona o link e a janela modal
    var link = document.querySelector('.modal-link');
    var modal = document.querySelector('.modal');
    var overlay = document.querySelector('.overlay');

    // Adiciona um listener de evento para o link
    link.addEventListener('click', function (event) {
        event.preventDefault(); // previne o comportamento padrão do link (navegar para outra página)

        overlay.style.display = 'block'; // exibe a camada escura
        modal.style.display = 'block'; // exibe a janela modal
    });

    // Adiciona um listener de evento para a camada escura
    overlay.addEventListener('click', function () {
        overlay.style.display = 'none'; // oculta a camada escura
        modal.style.display = 'none'; // oculta a janela modal
    });
</script>

</html>
</body>
</html>